* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header {
  background-color: #c4c4c4;
  width: 100%;
  padding: 1rem;/*rem:相對單位*/
  font-family: 'Satisfy', cursive;/*google material font*/
}
header p {
  font-family: 'Satisfy', cursive;
  font-size: 1rem;
  font-weight: bold;/*粗體*/
}
section article {
  background-color: white;
  float: left;
  text-align: center;
  width: 33.3%;/*切三等分*/
  height: 230px;
}
section h2 {
  font-family: 'Satisfy', cursive;
}
section p {
  font-family: 'Noto Sans TC', sans-serif;
}
.headTitle{
  font-size: 2.5rem;
}
.headText{
  font-size: 1rem;
}
nav {
  background-color:#c6e3a8;
  position: sticky;/*鎖在最上面*/
  top: 0;
}
.container{
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;/*置中*/
}
nav ul li {
  display: flex;
  padding: 1 0;
}
.item {
  padding: 0.5rem 0.75rem;
  color: black;
  text-decoration: none;
  transition: all 0.25s ease;/*動畫漸顯示*/
  font-family: 'Caveat', cursive;
  font-size: 1.5rem;
  display: inline-block;
}
.item:hover{
  background-color: rgb(54, 100, 50);
  color: white;
}
.leftb{
  display: flex;
  text-align: left;
}
.rightb{
  display: flex;
  text-align: right;
  align-items: center;

}
.search{
  font-family: 'Caveat', cursive;
  font-size: 1.2rem;
  width: 150px;
  height: 30px;
  display: inline-block;
}
nav ul button {
  font-family: 'Caveat', cursive;
  font-size: 1.2rem;
  width: 60px;
  height: 30px;
  display: inline-block;
}
p{
  font-family: 'Noto Sans TC', sans-serif;
}
main{
  height: 100%;
  width: 100%;/*內容區域的寬度*/
  display: flex;/*調整外容器與內元件的排列方式*/
  flex-wrap: wrap;
}
section.right{
  background-color: #c4c4c4;
  padding: 1.5rem;
  flex: 1 1 250px;/*讓右邊縮時往下移*/
}
section.left{
  padding: 1.5rem;
  flex: 4 1 350px;/* 三個值: flex-grow | flex-shrink | flex-basis */
}
section.right h4{
  font-size: 1.25rem;
  text-align: center;
  font-family: 'Satisfy', cursive;
}
section.left h4 {
  font-size: 1.25rem;
  text-align: center;
  font-family: 'Satisfy', cursive;
} 

section.lefta h4,section.righta h4{
  font-size: 1.25rem;
}
section.lefta,section.righta{
  padding: 1.5rem;
  font-size: 1rem;
  font-weight:900;
}
section.left div{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}
footer{
  text-align: center;
  padding: 0.5rem;
  background-color: #c6e3a8;
  font-family: 'Satisfy', cursive;
}
footer p {
  font-family: 'Satisfy', cursive;
}
@media screen and (max-width:900px) {
  div#img img{
    width: 100%;
    height: 100%;
  }  
  .container{
    flex-wrap: wrap;
  }
  .container > li {
    flex-basis: 100%;
  }
  .search{
    order: 1;
  }
}
